{% extends "layout.html" %}
{% block body %}
					<!-- Nav -->
						<nav id="nav">
						</nav>
				</div>
<section class="wrapper style1">
<div class="container">
<div id="content">
    {% with names = get_flashed_messages(category_filter=["names"]) %}
    {% if names %}
    {% for message in names %}
    <h2>{{ message }} 的所有照片</h2>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    
    {% with number = get_flashed_messages(category_filter=["number"]) %}
    {% if number %}
    {% for message in number %}
    <form action="#" method="post">
    <label>共有 {{ message }} 張照片 <button type="submit" name="del" value="all" ><img width="10" height="10" src="{{ url_for('static', filename='images/del.png')}}" > 全部刪除</button></label>
    </form>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    
    {% with image = get_flashed_messages(category_filter=["image"]) %}
    {% if image %}
    {% for message in image %}
    <img width="300" src="data:image/png;base64,{{ message.split('-')[1] }}" />
    <form action="#" method="post">
        <button type="submit" name="del" value="{{ message.split('-')[0] }}" ><img width="10" height="10" src="{{ url_for('static', filename='images/del.png')}}" > 刪除</button>
    </form>
    <br><br>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/scrolltopcontrol.js"></script>
    
</div>
</div> 
</section>
{% endblock %}