{% extends "layout.html" %}
{% block body %}
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">首頁</a></li>
								<li>
									<a href="#">訓練</a>
									<ul>
										<li><a href="/train-pic">照片上傳</a></li>
										<li><a href="/train-cam">拍照上傳</a></li>
									</ul>
								</li>
								<li><a href="/upload">影片上傳</a></li>
								<li><a href="/analysis">影像分析</a></li>
								<li><a href="/result">比對結果</a></li>
                                <li class="current"><a href="/admin">檔案管理</a></li>
							</ul>
						</nav>
				</div>
<section class="wrapper style1">
<div class="container">
<div id="content">


    <h2>檔案列表</h2>
        {% with people = get_flashed_messages(category_filter=["people"]) %}
        {% if people %}
        {% for message in people %}
        <li><a target="_blank" href="admin/{{ message.split(''' (''')[0] }}">{{ message }}</a></li>
        <img width="294" height="221" src='static/{{ message.split(''' (''')[0] }}.png'/>
        {% endfor %}
        {% endif %}
        {% endwith %}	
        <br>
	
    
    <br>
    
    <form action="" method="post">   
        <label>選擇要刪除的影片：</label>
            {% with videos = get_flashed_messages(category_filter=["videos"]) %}
            {% if videos %}
            {% for message in videos %}
            <input type="checkbox" value="{{ message }}" name="delvideo"> {{ message }}<br>
            {% endfor %}
            {% endif %}
            {% endwith %}
        <br>
        <label>選擇要刪除的名字：</label>
            {% with names = get_flashed_messages(category_filter=["names"]) %}
            {% if names %}
            {% for message in names %}
            <input type="checkbox" value="{{ message }}" name="delname"> {{ message }}<br>
            {% endfor %}
            {% endif %}
            {% endwith %}
        <p><input type="submit" value="刪除檔案"><br/>
    </form>

    
</div>
</div> 
</section>
{% endblock %}