{% extends "layout.html" %}
{% block body %}
					<!-- Nav -->
						<nav id="nav">
						</nav>
				</div>
<section class="wrapper style1">
<div class="container">
<div id="content">
    {% with names = get_flashed_messages(category_filter=["names"]) %}
    {% if names %}
    {% for message in names %}
    <h2>{{ message }} 的所有照片</h2>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    
    {% with image = get_flashed_messages(category_filter=["image"]) %}
    {% if image %}
    {% for message in image %}
    <img src="data:image/png;base64,{{ message }}" />
    <br>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/scrolltopcontrol.js"></script>
    
</div>
</div> 
</section>
{% endblock %}