{% extends "layout.html" %}
{% block body %}
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">首頁</a></li>
								<li>
									<a href="#">訓練</a>
									<ul>
										<li><a href="/train-pic">照片上傳</a></li>
										<li><a href="/train-cam">拍照上傳</a></li>
									</ul>
								</li>
								<li><a href="/upload">影片上傳</a></li>
								<li class="current"><a href="/analysis">影像分析</a></li>
								<li><a href="/result">比對結果</a></li>
                                <li><a href="/admin">檔案管理</a></li>
							</ul>
						</nav>
				</div>
<section class="wrapper style1">
<div class="container">
<div id="content">


    <form action="" method="post">   
        <label>選擇要分析的影片：</label>
        <select size=1 name="videoname" required="required"> 
            <option value="" selected="selected">選擇一個影片檔</option>
            {% with videos = get_flashed_messages(category_filter=["videos"]) %}
            {% if videos %}
            {% for message in videos %}
            <option value="{{ message }}">{{ message }}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </select>
        <!-- <br><br>
        <label>選擇要辨識的人：</label>
        <select size=1 name="peoplename" required="required"> 
            <option value="" selected="selected">選擇一個名字</option>
            {% with names = get_flashed_messages(category_filter=["names"]) %}
            {% if names %}
            {% for message in names %}
            <option value="{{ message }}">{{ message }}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </select> -->
        <br><br>
        <label>選擇要辨識的人：</label>
            <input type="checkbox" name="all" onclick="check_all(this,'people')" />全選/全不選<br>
            {% with names = get_flashed_messages(category_filter=["names"]) %}
            {% if names %}
            {% for message in names %}
            <input type="checkbox" value="{{ message }}" name="people"> {{ message }}<br>
            {% endfor %}
            {% endif %}
            {% endwith %}
            
        <p><p><input type="submit" value="開始分析"><br/>
    </form>
    
    <script type="text/javascript">
        function check_all(obj,cName)
        {
            var checkboxs = document.getElementsByName(cName);
            for(var i=0;i<checkboxs.length;i++){checkboxs[i].checked = obj.checked;}
        }
    </script>
    
</div>
</div> 
</section>
{% endblock %}