{% extends "layout.html" %}
{% block body %}
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">首頁</a></li>
								<li class="current"><a href="/train">訓練</a></li>
								<li><a href="/upload">影片上傳</a></li>
								<li><a href="/analysis">比對結果</a></li>
								<li><a href="#">其他</a></li>
							</ul>
						</nav>
				</div>

<label>輸入名字：</label>
<input type="text" name="name" id="name" maxlength="10" style="width:200px" style="ime-mode:disabled" onKeyUp="value=value.replace(/[\W]/g,'')" required="required"><br>
<label>拍照上傳：(Using Opera or Chrome)</label>

<div id="promoNode"></div>
	
	<video id="video" width="640" height="480" autoplay></video>
	<button id="snap" class="sexyButton">擷取照片</button>
	<canvas id="canvas" width="640" height="480"></canvas>
	<script type ="application/javascript">
		// Put event listeners into place
		window.addEventListener("DOMContentLoaded", function() {
			// Grab elements, create settings, etc.
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            var video = document.getElementById('video');
            var mediaConfig =  { video: true };
            var errBack = function(e) {
            	console.log('An error has occurred!', e)
            };

			// Put video listeners into place
            if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia(mediaConfig).then(function(stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                });
            }

            /* Legacy code below! */
            else if(navigator.getUserMedia) { // Standard
				navigator.getUserMedia(mediaConfig, function(stream) {
					video.src = stream;
					video.play();
				}, errBack);
			} else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
				navigator.webkitGetUserMedia(mediaConfig, function(stream){
					video.src = window.webkitURL.createObjectURL(stream);
					video.play();
				}, errBack);
			} else if(navigator.mozGetUserMedia) { // Mozilla-prefixed
				navigator.mediaDevices.getUserMedia()(mediaConfig, function(stream){
					video.src = window.URL.createObjectURL(stream);
					video.play();
				}, errBack);
			}

			// Trigger photo take
			document.getElementById('snap').addEventListener('click', function() {
				context.drawImage(video, 0, 0, 640, 480);
                //console.log(canvas.toDataURL());
                //Content-Disposition: form-data; name="pic"
                
                var data = new FormData();
                data.append('name', document.getElementById("name").value);
                data.append('pic', canvas.toDataURL());
                var xhr = new XMLHttpRequest();
                xhr.open('POST', "train", true);
                xhr.onload = function () {
                //    console.log(this.responseText);
                };
                xhr.send(data);
			});
		}, false);
	</script>
</div>

{% for message in get_flashed_messages() %}
<label align="center" style="color:red;">{{ message }}</label>
{% endfor %}


{% endblock %}