{% extends "layout.html" %}
{% block body %}
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">首頁</a></li>
								<li>
									<a href="#">訓練</a>
									<ul>
										<li><a href="/train-pic">照片上傳</a></li>
										<li><a href="/train-cam">拍照上傳</a></li>
									</ul>
								</li>
								<li class="current"><a href="/upload">影片上傳</a></li>
                                <li><a href="/analysis">影像分析</a></li>
								<li><a href="/result">比對結果</a></li>
								<li><a href="/admin">檔案管理</a></li>
							</ul>
						</nav>
				</div>
<section class="wrapper style1">
<div class="container">
<div id="content">


<form action="" enctype=multipart/form-data method="post">
    <label>選擇影片檔案：(限100MB以內avi檔)</label>
    <input type="file" name="file" size="0" required="required"><br><br>
    <label>影片日期與時間：</label>
    <input type="date" name="vod_date" id="bookdate" value="2017-10-01" max="2020-01-01" required="required">
    <input type="time" name="vod_time" value="12:00" required="required">
    <p><p><input type="submit" value="送出">
</form>


</div>
</div> 
</section>
{% endblock %}